/* Information:
Maine CSS me elements ke liye alag colors use kiye hain. 
Pink, green, yellow aur blue colors se groups ko alag dikhaya hai. 
Outset border se table ko 3D aur attractive look diya hai. */

.pink{background-color:#f96995;
border: 2px outset #f96995;}

.green{background-color: #66ff66;
border: 2px outset #66ff66;}

.yellow{background-color:	#FCF55F;
border: 2px outset #FCF55F;}

.blue{background-color: #42a5f5;
border: 2px outset #42a5f5;}