.pink{background-color:#f96995;
border: 2px outset #f96995;}

.green{background-color: #66ff66;
border: 2px outset #66ff66;}

.yellow{background-color:	#FCF55F;
border: 2px outset #FCF55F;}

.blue{background-color: #42a5f5;
border: 2px outset #42a5f5;}